[submodule "BeatRunner/Assets/NnUtils"]
	path = BeatRunner/Assets/NnUtils
	url = https://www.github.com/nnra6864/NnUtils.git
[submodule "BeatRunner/Assets/BananaUtils"]
	path = BeatRunner/Assets/BananaUtils
	url = https://github.com/IckyTheBiggy/BananaUtils.git
